body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #ffd1dc;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mall {
  border: 3px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
  background-color: #fff;
  width: 500px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review {
  font-style: italic;
}
