server {
    listen       80;
    listen  [::]:80;
    server_name  ${DOMAIN};

    location / {
        proxy_pass ${CLIENT_URL};
    }
}

server {
    listen       8080;
    listen  [::]:8080;
    server_name  ${DOMAIN};

    location / {
        proxy_pass ${SERVER_URL};
    }
}
